*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
    background: linear-gradient(to top, #232020 50%, #82ffc9 50%);
}

a{
    text-decoration: none;
    color: #fff;
}