*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
    background: radial-gradient(circle, rgba(72,215,72,1) 0%, rgba(67,108,157,1) 100%);
}

a{
    text-decoration: none;
    color: #fff;
}